# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

*~
\#*
.drush
.lesshst
.viminfo
.htaccess
.htpasswd

sites/default/settings.php
sites/default/files/languages*
sites/default/files/css*
sites/default/files/js*

.ht.filecache
db
phpmyadmin

robots.txt
robots-old.txt

php_info.php
