# Ignore configuration files that may contain sensitive information.
sites/default/settings.php

# Ignore paths that contain user-generated content.
sites/default/files/styles
sites/*/private

phpmyadmin

*~
\#*
.drush
.lesshst
.viminfo
.htaccess
.htpasswd
/sites/default/settings.php
