.about-us{
  padding: 8vh 0;
  width: 80%;

  @include desktop {
    width: 800px;
    padding: 60px 0 40px 0;
  }
}

.about-us__header {
  min-height: 140px;
  background-color: rgba(255, 255, 0, 0.7);
  padding: 0 0.875rem;
}

.title__image {
  justify-content: center;
  padding-bottom: 20px;
  @include desktop {
    padding: 7px 10px 7px 20px;
  }
  img {
    width: 100%;
    max-width: 250px;
    height: 100%;
  }
}

.title__text {
  color: #333333;
  padding: 1.875rem;
  line-height: 1.2rem;
  margin: 0;
  text-align: left;

  @include desktop {
    padding: 0.875rem;
  }
}

.about-us__main.article {
  margin-top: 50px;
}

.article__text-wrapper {
  display: flex;
  flex-direction: column;
  @include desktop {
    align-items: flex-end;
  }
}
.article__title {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 1.58rem;
  color: #333333;
  width: 95%;
  text-shadow: none;

  margin-bottom: 1.2rem;
  @include desktop {
    font-size: 2rem;
  }
}

.article__text {
  color: #333333;
  width: 95%;
}

.article__img {
  align-self: center;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  @include desktop {
    margin-top: 0;
    justify-content: flex-start;
  }

  img {
    width: 95%;
    height: 100%;
    max-width: 500px;
  }

}

.img-right {
  justify-content: center;
  @include desktop {
    justify-content: flex-end;
  }
}
