.certification {
  background-color: #333333;
  padding: 8vh 0;

  @include desktop {
    padding: 55px 0 60px 0;
  }

  .container {
    width: 80%;
    padding-right: 0;
    padding-left: 0;
    @include desktop {
      width: 800px;
    }
  }
}

.certification__title {
  font-size: 1.58rem;
  margin-bottom: 35px;
  color: #ffff00;

  @include desktop {
    font-size: 1.9rem;
  }
}
.certification__text {
  font-size: 0.92rem;
  color: #ffff00;
  text-align: left;
  @include desktop {
    font-size: 1.05rem;
    padding-left: 25px;
  }
}

.certification__image {
  padding: 5vh 0;
  width: 100%;
  height: auto;
  align-self: center;
  @include desktop {
    padding: 0;
  }
}
