.contact-us {
  background-color: #ffffff;
  padding: 8vh 0 8vh 0;

  @include desktop {
    padding: 50px 0 60px 0;
  }

  .container {
    width: 80%;
    padding-right: 0;
    padding-left: 0;
    @include desktop {
      width: 800px;
    }
  }
}

.contact-us__title {
  font-size: 1.58rem;
  color: #333333;
  text-shadow: none;
  margin-bottom: 20px;

  @include desktop {
    font-size: 1.9rem;
  }
}

.contact-us__text {
  font-size: 0.92rem;
  color: #333333;
  text-align: left;

  @include desktop {
    font-size: 1.05rem;
  }
}
.contact-us__text > .contact-us__text_header {
  font-weight: bold;
  display: block;
}

.contact-us__text_breaked {
  word-break: break-all;
  a {
    display: block;
    text-decoration: none;
  }
  @include desktop {
    margin-bottom: 0;
  }
}
.contact-us__map {
    margin-bottom: 0;
    height: 300px;
    @include desktop {
      height: calc(100% - 5px);
      margin-top: 5px;
    }
}
