.history {
  background-color: #f2f2f2;
  padding: 8vh 0 0 0;


  @include desktop {
    padding: 55px 0 0 0;
  }

  .container {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    position: relative;
    z-index: 2;
    @include desktop {
      width: 800px;
      max-width: 800px;
    }
  }
  .button {
    box-shadow: 0px 2px 2px #999;
    margin-bottom: 4px;
    @include desktop {
      margin-top: 60px;
    }
  }
}

.history__title {
  font-size: 1.58rem;
  color: #333333;
  text-shadow: none;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  @media (max-width: 900px) {
    width: 80%;
  }


  @include desktop {
    width: 100%;
    font-size: 1.9rem;
  }
}

.history__text {
  font-size: 0.92rem;
  color: #333333;
  text-align: left;
  padding: 5px 0px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;



  background-color: rgba(#ffff00, 0.7);
  width: calc(75% - 30px);
  @media (max-width: 900px) {
    width: 80%;
  }

  @include desktop {
    font-size: 1.05rem;
    padding: 5px 15px;

    width: 100%;
  }

  h3 {
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 1.25rem;

    font-family: "Ubuntu", sans-serif;
    @include desktop {
        font-size: 1.38rem;
    }
  }
  &:first-child {
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 20px;
    @include desktop {
      padding-top: 60px;
    }
  }
}
.extended {
  width: 100%;
  margin-bottom: 25px;


  @include desktop {
      margin-bottom: 0px;
  }

  h3 {
    width: calc(75% - 30px);
    @media (max-width: 900px) {
      width: 80%;
    }
    margin-left: auto;
    margin-right: auto;
    @include desktop {
        width: 100%;
    }
  }

  p {
    width: calc(75% - 30px);
    @media (max-width: 900px) {
      width: 80%;
    }

    margin-left: auto;
    margin-right: auto;
    @include desktop {
        width: 100%;
    }
  }



}

.history__image {
  padding: 5vh 0;
  width: 80%;
  width: calc(75% - 30px);
  @media (max-width: 900px) {
    width: 80%;
  }
  height: auto;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    padding: 0;
    width: 100%;
  }
}
.history__carousel {
  margin-top: 35px;
}

.history__carousel-indicators {
  background-color: #b3b3b3;
  bottom: 0;
  //margin: 0 5px;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;

  li {
      text-indent: unset;
      cursor: pointer;
      font-family: "Ubuntu", sans-serif;
      font-weight: 400;
      color: #333333;
      font-size: 2.5rem;
      @include desktop {
        font-size: 2.66rem;
      }
      color: #999999;
  }
  li.disabled {
    cursor: default;
    color: #999999;
  }
  li.active {
    color: #ffff00;
    background-color: transparent;
    display: block;
  }
}
.history__navigation {


  position: static;
  height: 40px;
  overflow: hidden;
  top: 0;
  z-index: 99;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 400px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  @include desktop {
    position: absolute;
    right: 0;
    width: 100%;
  }

  ol {
    position: relative;
    width: 80%;
    overflow: hidden;


    li {
      width: 33.333%;
      height: auto;
      background-color: transparent;
      pointer-events: none;
      margin: 0 8px;
      display: none;

      @include desktop {
        margin: 0 5px;

      }

      @media (max-width: 515px) {
        font-size: 1.7rem;
        letter-spacing: -0.1em;
        margin: 0;
      }

      &:before {
        content: none;
      }
      &:after {
        content: none;
      }
    }
  }
  .carousel-control-prev {
    position: relative;
    width: auto;
    margin-right: 5px;

  }
  .carousel-control-next {
    position: relative;
    width: auto;
    margin-left: 5px;
  }
}
.history__navigation_next.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
  &:hover {
    pointer-events: none;
    cursor: default;
  }
}
.history__navigation_prev.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
  &:hover {
    pointer-events: none;
    cursor: default;
  }
}
