.links {
  background-color: #b3b3b3;
  padding: 8vh 0;
  @include desktop {
    padding: 55px 0 55px 0;
  }

  .container {
    width: 80%;
    padding-right: 0;
    padding-left: 0;
    @include desktop {
      width: 800px;
    }
  }
}

.links__title {
  font-size: 1.58rem;
  color: #333333;
  text-shadow: none;
  @include desktop {
    font-size: 1.9rem;
  }
}

.links__left-block {
  @include desktop {
    padding-right: 37px;
  }
}
.links__right-block {
  @include desktop {
    padding-left: 37px;
  }
}

.links__header {
  height: 65px;
  background-color: rgba(#ffff00, 0.7);
  margin-top: 30px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;


  img {
    height: 90%;
    width: auto;
    margin-left: 15px;
    margin-right: 30px;
  }
  h3 {
    font-size: 1.58rem;
    color: #333333;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 0;

    @include desktop {
      font-size: 1.65rem;
    }
  }
  &.button {
    margin-top: 25px;
  }
}


.links__image {
  height: auto;
  width: 100%;
  margin-top: 30px;
  background-color: #cccccc;
  //overflow: hidden;
  display: flex;

  img {
    height: auto;
    align-self: center;
    width: 100%;
  }
}

.links__text {
  margin-top: 20px;
  text-align: left;
  color: #333333;
}

.links__dropdown {
  margin-top: 18px;
  width: 100%;
}

.links__dropbtn {
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  text-align: left;
  padding-left: 35px;
  border: none;
  color: #333333;
  font-size: 1.58rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  background-color: #e6e6e6;
  cursor: pointer;
  outline-color: rgba(#ffff00, 0.7);
  border: none;
  transition: 0.3s;
  @include desktop {
    font-size: 1.65rem;
  }
  @media (max-width: 440px)
  {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    outline: 0;
  }
  &:after {
    width: 0;
    height: 0;
    margin-right: 20px;
    align-self: center;
    vertical-align: middle;
    content: "";
    border-top: 1.7rem solid rgba(#808080, 1);
    border-right: 1rem solid transparent;
    border-left: 1rem solid transparent;
    transition: 0.3s;
  }
  &:hover {
    &:after {
      border-top: 1.7rem solid rgba(#ffff00, 0.7);
      transition: 0.3s;
    }
  }
}

.links__dropdown {
    position: relative;
    display: inline-block;
    transition: 0.5s;
}

.links__dropdown-content {
    height: auto;
    position: relative;
    background-color: #e6e6e6;
    z-index: 1;
    width: 100%;
    transition: height 5s;
    overflow: hidden;
}

.links__dropdown-content a {
    padding: 0;
    font-size: 0;
    color: #333333;
    font-family: "Ubuntu", sans-serif;
    text-align: left;
    padding: 0px 30px;
    display: block;
    transition:
    padding 0.2s 0.2s,
    font-size 0.3s;

}

a.links__show {
  padding: 12px 30px;
  font-size: 1rem;
  &:last-child {
    padding-bottom: 20px;
  }
  @include desktop {
    font-size: 1.33rem;
  }
  transition:
  padding 0.2s 0.2s,
  font-size 0.6s;
}
