.mission {
  background-color: #f2f2f2;
  padding: 8vh 0;
  @include desktop {
    //padding: 45px 0 50px 0;
    padding: 55px 0 60px 0;
  }

  .container {
    width: 80%;
    @include desktop {
      width: 800px;
    }
  }
}



.mission__title {
  font-size: 1.58rem;
  color: #333333;
  text-shadow: none;
  @include desktop {
    font-size: 1.9rem;
  }
}

.mission__text {
  margin-top: 20px;
  text-align: left;
}

.mission__text_marked {
  padding: 5px 10px;
  text-align: left;
  border: 6px solid #ffff00;
  font-size: 1.17rem;
  line-height: 1.4rem;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}
.carousel {
  margin-top: 20px;
}
.carousel-control-prev-icon {
  background: url($img-path + "slider_arrows.png") left center no-repeat;
  width: 30px;
  height: 40px;
  background-position: -30px 0;
  background-size: 120px 40px;
}

.carousel-control-prev {
  &:hover {
    .carousel-control-prev-icon {
        background-position: 0 0;
    }
  }
  opacity: 1;
}

.carousel-control-next-icon {
  background: url($img-path + "slider_arrows.png") right center no-repeat;
  width: 30px;
  height: 40px;
  background-position: -60px 0;
  background-size: 120px 40px;
}

.carousel-control-next {
  &:hover {
    .carousel-control-next-icon {
        background-position: -90px 0;
    }
  }
  opacity: 1;
}
