.our-work {
  background-color: #b3b3b3;
  padding: 8vh 0;

  @include desktop {
    padding: 55px 0 60px 0;
  }

  .container {
    width: 80%;
    @include desktop {
      width: 800px;
    }
  }
}

.our-work__title {
  font-size: 1.58rem;
  margin-bottom: 35px;
  @include desktop {
    font-size: 1.9rem;
  }
}
.work-description {
  padding-right: 0;
  padding-left: 0;
  @include desktop {
    margin-right: 55px;
    margin-left: -20px;
    padding: 0 20px;
  }
}
.descriptions {
  flex-wrap: wrap;
  @include desktop {
    flex-wrap: nowrap;
  }
}
.work-description__title {
  text-align: left;
  color: #ffff00;
  font-size: 1.58rem;
  font-weight: 500;
  margin: 20px 0px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);

  @include desktop {
    font-size: 1.9rem;
  }
}

.work-description__list {
  text-align: left;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.92rem;
  line-height: 1.1rem;
  margin-bottom: 0;

  dd {
    margin: 0;
    word-wrap: break-word;
    &:before {
      content: "- ";
    }
  }

  @include desktop {
    font-size: 1.05rem;
    line-height: 1.4rem;
  }
}

.our-work__title-image {

  @include desktop {
    margin-right: 20px;
  }

  img {
    width: auto;
    height: 20vw;
    max-height: 115px;
    margin-bottom: 10px;
    display: flex;
    @include desktop {
      margin-left: 20px;
      padding-left: 25px;
    }
  }
}
.our-work__title-image:first-child {
  @include desktop {
    padding: 0;
  }
}
