@media screen and (min-width: 1080px) {
	body {
		margin: 0;
	}

	.blog {
		position: relative;
	}

	.blog__heading {
		width: auto;
		margin-top: 110px;
		margin-bottom: 55px;
		margin-left: 0;
		color: #333333;
		font-family: 'Ubuntu', Arial, sans-serif;
		font-size: 60px;
		letter-spacing: 1px;
		text-shadow: 2px 2px 0 #ff6600;
	}

	.blog__articles {
		justify-content: space-between;
		display: flex;
		margin-bottom: 120px;
	}

	.blog__article--main {
		width: 485px;
		margin-left: 0;
		color: #333333;
		font-family: 'Ubuntu', Arial, sans-serif;
		font-weight: 100;
		transition: 0.2s;
	}

	.blog__aside {
		width: 430px;
	}

	.blog__article-title--main {
		margin-top: 0;
		margin-bottom: 20px;
		color: #333333;
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 0.005em;
	}

	.blog__article-link--main {
		color: #333333;
		text-decoration: none;
	}

	.blog__article-link--main:hover {
		color: #ff6600;
		text-decoration: none;
		transition: 0.2s;
	}

	.blog__article-image {
		margin-top: 35px;
		margin-left: 2px;
		border-radius: 3px;
	}

	.blog__date {
		color: #898989;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0;
	}

	.blog__author {
		margin-right: 0;
		margin-left: auto;
		color: #898989;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0;
		text-align: right;
	}

	.blog__article-info {
		justify-content: space-between;
		display: flex;
	}

	.blog__article--aside {
		margin-bottom: 35px;
	}

	.blog__article-title {
		margin-top: 0;
		margin-bottom: 18px;
		color: #333333;
		font-family: 'Ubuntu', Arial, sans-serif;
		font-size: 20px;
		font-weight: 400;
		letter-spacing: 0.005em;
		transition: 0.2s;
	}

	.blog__article-link {
		color: #333333;
		text-decoration: none;
		transition: 0.2s;
	}

	.blog__article-link:hover {
		color: #ff6600;
		text-decoration: none;
		transition: 0.2s;
	}

	.blog-image-right {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		width: 135px;
		height: 325px;
		margin-top: -60px;
		background: url('../images/try_dis.svg') no-repeat;
	}

	.blog__more-link {
		display: inline-block;
		margin: 5px 0 0 0;
		color: #090909;
		font-family: 'Ubuntu', Arial, sans-serif;
		font-size: 18px;
		line-height: 1;
		text-decoration: none;
		vertical-align: baseline;
		border-bottom: 2px #303030 solid;
		transition: 0.2s;
	}

	.blog__more-link:hover {
    color: #ff6600;
    border-bottom: 2px #ff6600 solid;
		transition: 0.2s;
  }

  .blog__more-link:active {
    border-bottom: 2px #ffffff solid;
  }
}


/* small screens */

@media screen and (max-width: 1079px) {
	body {
		margin: 0;
	}

	.blog {
		width: auto;
		height: auto;
		background-color: white;
	}

	.blog__heading {
		margin-top: 0;
		margin-bottom: 70px;
		margin-left: 30px;
		color: #333333;
		font-family: 'Ubuntu', Arial, sans-serif;
		font-size: 88px;
		letter-spacing: 2px;
		text-shadow: 2px 2px 0 #d2ff1b;
	}

	.blog-image-right {
		display: none;
	}

	.blog__articles {
		display: inline;
		margin: 0;
	}

	.blog__article-image {
		width: 100%;
		height: auto;
		margin: 0;
		margin-top: 60px;
		content: url('../images/blogphoto.jpg');
		border-radius: 0;
	}

	.blog__article--main {
		width: auto;
		margin-left: 0;
		color: #333333;
		font-family: 'Ubuntu', Arial, sans-serif;
		font-size: 33px;
		font-weight: 100;
		letter-spacing: 1px;
	}

	.blog__aside {
		margin-top: 60px;
	}

	.blog__article-title--main {
		margin-right: 10px;
		margin-bottom: 30px;
		margin-left: 30px;
		font-size: 38px;
		font-weight: 400;
	}

	.blog__article-link--main {
		color: #333333;
		text-decoration: none;
		transition: 0.2s;
	}

	.blog__date {
		margin-left: 35px;
		color: #898989;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 24px;
		font-weight: 400;
	}

	.blog__author {
		margin-right: 30px;
		margin-left: 40px;
		color: #898989;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 24px;
		font-weight: 400;
	}

	.blog__article--aside {
		width: auto;
		margin-bottom: 70px;
		margin-left: 0;
		color: #333333;
		font-family: 'Ubuntu', Arial, sans-serif;
		font-size: 33px;
		font-weight: 100;
		letter-spacing: 1px;
	}

	.blog__article-title {
		margin-right: 10px;
		margin-bottom: 30px;
		margin-left: 35px;
		font-size: 34px;
		font-weight: 400;
		line-height: 44px;
	}

	.blog__article-link {
		color: #333333;
		text-decoration: none;
		transition: 0.2s;
	}

	.blog__article--aside:nth-child(3) {
		display: none;
	}

	.blog__article-info {
		justify-content: space-between;
		display: flex;
	}

	.blog__more {
		margin: 0;
	}

	.blog__more-link {
		display: inline-block;
		margin: 30px 0 120px 30px;
		color: #333333;
		font-family: 'Ubuntu', Arial, sans-serif;
		font-size: 45px;
		font-weight: 400;
		line-height: 1;
		text-decoration: none;
		vertical-align: baseline;
		border-bottom: 2px #303030 solid;
	}
}
