.calendar {
	width: auto;
  height: 700px;
  position: relative;
  overflow: hidden;
  padding: 60px 0;
}

.calendar__container {
  height: 100%;
  margin: 20px auto;
}

.calendar__container::before {
  content: '';
  width: 147px;
  height: 3px;
  background-color: #d2ff1b;
  position: absolute;
  top: 60px;
  left: 0;
}

.calendar__container::after {
  content: '';
  width: 103px;
  height: 3px;
  background-color: #333333;
  position: absolute;
  top: 69px;
  left: 0;
}

.calendar__heading {
  color: #333333;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: 60px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #d2ff1b;
  margin: 0;
}

@media screen and (max-width: 1079px) {
  .calendar {
    padding: 60px 30px 0 30px;
    margin: 0;
    text-shadow: none;
  }

  .calendar__heading {
    font-size: 88px;
    letter-spacing: 2px;
  }
}
