@media screen and (max-width: 1079px){
	body {
		margin: 0;
	}

	.mobile-menu {
		width: 100%;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		left: -100%;
		padding: 15px 0 30px 0;
		background-color: #333333;
		line-height: 1.5;
		z-index:9999;
		-webkit-transition: left 0.3s;
		transition: left 0.3s;
		position: fixed;
	}

	.mobile-menu__links {
		margin-top: 75px;
		margin-left: 40px;
	}

	.mobile-menu__list {
		margin: 0;
		margin-bottom: 40px;
		padding: 0;
		list-style-type: none;
	}

	.mobile-menu__item {
		color: white;
		font-size: 55px;
		font-family: 'Ubuntu', Arial, sans-serif;
	}

	.mobile-menu__link {
		color: white;
		text-decoration: none;
	}

	.mobile-menu__link:hover,
	.mobile-menu__link:active {
		color: #ff6600;
	}

	.button-close {
		position: absolute;
		margin-top: 10px;
		right: 5%;
		background-color: #333333;
		color: white;
		border: none;
		font-size: 55px;
		cursor: pointer;
	}

	.mobile-menu__language {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.mobile-menu__language-item {
		color: #898989;
		list-style-type: none; 
		padding-right: 40px;
		padding-bottom: 25px;
		font-size: 45px;
		font-family: 'Ubuntu', Arial, sans-serif;
	}

	.mobile-menu__language-link {
		color: #898989;
		text-decoration: none;
	}

	.mobile-menu__language-link--active {
		border-bottom: 4px #898989 solid;
	}
}
