/*my test*/
.red-test{
	color: red;
	font-size: 30px;
	text-decoration: underline;
}

/*end of mytest*/
a {
	text-decoration: none !important;
  color: #1a1a1a;
}
ul{
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 2200px) {
	.projects__items {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.projects__container {
		z-index: 3;
	}

	.projects-image-right {
		width: 230px;
		height: 756px;
		margin-top: 0;
		background-size: 230px 756px;
    top: 275px;
	}

	.projects__items-row:nth-child(2) {
		margin-left: 85px;
	}
}

@media screen and (max-width: 1165px) {
	.projects-image-left {
		display: none;
	}
}



@media screen and (min-width: 1080px) {
	body {
		margin: 0;
	}

	.projects {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: space-around;
	}

	.projects-image-left {
		position: absolute;
		left: 3%;
		z-index: -1;
		width: 50px;
		height: 379px;
		background: url('../images-source/left.png') no-repeat;
	}

	.projects__container {
		margin: 0 auto;
	}

	.projects__items-row {
		z-index: 2;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.projects__heading {
		z-index: 2;
		width: auto;
		margin-top: 102px;
		margin-bottom: 76px;
		/*margin-left: 22.5%;*/
		color: #333333;
		font-family: 'Ubuntu', Arial, sans-serif;
		font-size: 60px;
		letter-spacing: 1px;
		text-shadow: 2px 2px 0 #ff6600;
	}
  .projects__title_container{
    width: 800px;
    margin: 0 auto;
  }

	.projects__text {
		position: absolute;
		z-index: 10;
		width: 456px;
		height: 160px;
		margin-top: -164px;
		background-color: #fcfcfc;
		border-radius: 3px;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}

	.projects__item:hover .projects__text {
		display: none;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}

	.projects__overlay {
		width: 456px;
		height: 398px;
		border-radius: 3px;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}
	.width50{
		width: 50%;
		display: flex;
		flex-direction: column;
	}
	.blog__normalize_title{
		margin: 0;
		padding: 0;
	}
	.blog__normalize_title a{
		text-decoration: none;
		color: #333333;	
	}
	.blog__normalize_title a:hover{
		color: #ff6600;
		text-decoration: none;
		transition: 0.2s;
	}
	.projects__item:hover .projects__overlay {
		z-index: 3;
		width: 456px;
		height: 398px;
		-webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.40);
		        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.40);
		border-radius: 3px;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}

	.projects__item {
		position: relative;
		z-index: 2;
		margin-right: 0;
		margin-bottom: 75px;
		margin-left: 0;
		background-color: #fcfcfc;
		border-color: #e9e9e9;
		border-style: solid;
		border-width: 1px;
		border-radius: 3px;
	}

	.projects__image {
		border-radius: 3px;
	}

	.projects__overlay-title,
	.projects__title {
		margin: 20px 0 5px 0;
		color: #1a1a1a !important;
		font-family: 'Ubuntu', Arial, sans-serif;
		font-size: 24px;
		letter-spacing: 0.5px;
		text-align: center;
		text-decoration: none;
	}

	.projects__title-link {
		color: #1a1a1a;
		text-decoration: none;
	}

	.projects__description {
		text-align: center;
		margin: 0 45px 0 43px;
		margin-top: 0;
		color: #767676;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 16px;
		line-height: 1.4;
		text-align: left;
	}

	.projects__link {
		visibility: hidden;
	}

	.projects__overlay-text {
		position: absolute;
		left: 50%;
		margin-top: -250px;
		margin-right: -50%;
		text-align: center;
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
	}

	.projects__button-link {
		display: inline-block;
		padding: 19px 19px 16px 20px;
		margin-top: 10px;
		color: #ffffff;
		font-family: 'Ubuntu', Arial, sans-serif;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 1px;
		text-decoration: none;
		background-color: #ff6600;
		border-width: 0;
		border-radius: 3px;
		cursor: pointer;
		visibility: hidden;
	}
  .projects__item:hover .projects__fading-img{
    transition: all 0.35s ease 0s;
    opacity: 0.5;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.5);
  }
	.projects__item:hover .projects__button-link {
		-webkit-transition: 0.8s;
		transition: 0.8s;
		visibility: visible;
	}
  .block__title{
    position: relative;
  }
	.projects__overlay-title {
		visibility: hidden;
	}
	.projects__item:hover .projects__overlay-title {
		-webkit-transition: 0.8s;
		transition: 0.8s;
		visibility: visible;
	}


	.projects__overlay-text:hover button {
		-webkit-transition: 0.8s;
		transition: 0.8s;
		visibility: visible;
	}

	.projects__item:nth-child(2) {
		margin-left: 75px;
	}
	.projects-img-right {
    top: 275px;
		position: absolute;
		right: 0;
		z-index: 1;
		width: 264px;
		height: 868px;
		background: url('../images-source/right.svg') no-repeat 0 0;
	}

	.projects__mobile-buttons {
		visibility: hidden;
	}
}


/* small screens */

@media screen and (max-width: 1079px) {
	body {
		margin: 0;
		background-color: #dddddd;
	}

	.projects {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		background-color: white;
	}

	.projects__container {
		width: 100%;
	}

	.projects__heading {
		margin-top: 180px;
		margin-bottom: 58px;
		margin-left: 35px;
		color: #333333;
		font-family: 'Ubuntu', Arial, sans-serif;
		font-size: 88px;
		letter-spacing: 2px;
		text-shadow: 2px 2px 0 #ff6600;
	}

	.projects__title {
		margin-top: 160px;
		margin-bottom: 20px;
		margin-left: 35px;
		color: #303030;
		font-family: 'Ubuntu', Arial, sans-serif;
		letter-spacing: 2px;
	}

	.projects__image {
		margin-left: 10%;
	}

	.projects__item1 .projects__image {
		width: 798px;
		height: 477px;
		content: url('../images-source/img111.jpg');
	}

	.projects__item2 .projects__image {
		width: 798px;
		height: 477px;
		content: url('../images-source/img444.jpg');
	}

	.projects__item3 .projects__image {
		width: 798px;
		height: 477px;
		content: url('../images-source/img222.jpg');
	}

	.projects__item4 .projects__image {
		width: 798px;
		height: 477px;
		content: url('../images-source/img333.jpg');
	}

	.projects__description,
	.projects__link {
		margin-right: 25px;
		margin-left: 35px;
		color: #303030;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 40px;
	}

	.projects__link {
		display: inline-block;
		color: black;
		font-family: 'Ubuntu', Arial, sans-serif;
		font-size: 45px;
		font-weight: 600;
		line-height: 1;
		text-decoration: none;
		vertical-align: baseline;
		border-bottom: 2px #303030 solid;
	}

	.projects__title {
		margin: 170px 0 0 35px;
		font-size: 60px;
	}

	.projects__title-link {
		color: #ff6600;
		text-decoration: none;
	}

	.projects__overlay-title {
		display: none;
	}

	.projects__button-link {
		visibility: hidden;
	}

	.projects__mobile-buttons {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-left: 70px;
		visibility: visible;
	}
	.projects__item {
		display: none;
	}

	.projects__item--visible {
		display: block;
	}

	.projects__text {
		margin-top: -150px;
		margin-bottom: 40px;
	}


	.projects__button--basic {
		width: 50px;
		height: 50px;
		margin: 15px 35px 180px 0;
		background-color: white;
		-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5);
		        box-shadow: 0 0 1px rgba(0,0,0,0.5);
		border: 2px #aaabaa solid;
		border-radius: 3px;
	}

	.projects__button--basic:hover {
		width: 50px;
		height: 50px;
		margin: 15px 35px 180px 0;
		background-color: white;
		-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5);
		        box-shadow: 0 0 1px rgba(0,0,0,0.5);
		border: 2px #d6ff32 solid;
		border-radius: 3px;
	}

	.projects__button--active {
		width: 50px;
		height: 50px;
		margin: 15px 35px 180px 0;
		background-color: #d6ff32;
		-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.);
		        box-shadow: 0 0 0 rgba(0,0,0,0.);
		border: 2px #d6ff32 solid;
		border-radius: 3px;
	}

	.projects-image-left {
		display: none;
	}

	.projects-image-right {
		display: none;
	}
}

.container {
	width: 990px;
	margin: 0 auto;
}

@media (max-width: 1079px) {
	.container {
		width: 100%;
		margin: 0;
	}
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0);
	        clip-path: inset(100%);
	white-space: nowrap;
	border: 0;

	-webkit-clip-path: inset(100%);
}
/* .pager{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  list-style: none;
}

 */
#block-menu-menu-footer-menu{
  width: 200px;
}
.region-bottom{
  display: flex;
  padding: 15px 0 31px 0;
  width: 990px;
  justify-content: space-between;
}
#main-menu > li {
  padding-right: 18px;
}
#block-menu-menu-footer-menu{
  display: flex;
  align-items: center;
}
