/* Common styles for tweaking content on all pages */

.grey-title,
a.grey title,
.grey-title a {
    font-size: 16px;
    font-weight: bold;
    color: #444243;
    text-decoration: none;
}

.grey-background {
    background-color: #f3f4f5;
}

.grey-date {
    color: #c2c2c2;
    font-size: 12px;
    margin: 5px 0;
}

a.black-link,
.black-link a {
    color: #444243;
}

.small-text {
    font-size: 12px;
}

/* Views pager styles */

.view .pager li {
    padding: 0;
    margin: 0 5px;
}

.view .pager li a {
    color: #444243;
}

.view .pager .pager-current {
    color: #D25D5E;
    font-size: 18px;
    font-weight: bold;
}

/* Views list styles */

.list-page {
    margin-bottom: 25px;
}

.list-row {
    overflow: auto;
    margin-bottom: 25px;
}

.list-title {
    margin-bottom: 10px;
}

.list-image {
    margin: 0 10px 10px 0;
}

.list-image img {
    max-width: 100%;
}

/* Views grid styles */

.grid-page table {
    border-collapse: separate;
    border-spacing: 15px;
    position: relative;
    left: -15px;
}

.grid-cell {
    padding: 15px;
}

.grid-title {
    margin-bottom: 10px;
}

.grid-image {
    margin: 0 10px 10px 0;
}

.grid-image img {
    max-width: 100%;
}

/* position styles */

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.flush-left {
    float: left;
}

.flush-right {
    float: left;
}

