/*here is all custom style for falanster theme*/

/*common style*/
h2.block-title {
  margin: 0 0 15px 0;
  color: #c72c29;
  text-transform: lowercase;
}

h2.block-title a {
	color: #363636;
	font-size: 18px;
	text-decoration: none;
}

.view-projects h2.node-title a,
.view-projects h2.node-title a:hover,
.view-projects h2.node-title a:visited,
.view-clubs h2.node-title a,
.view-clubs h2.node-title a:hover,
.view-clubs h2.node-title a:visited {
  color: #383431;
  text-decoration: none;
}

a,
/*a:link, 
a:visited, 
#block-system-main a,*/
#block-block-7 a,
.views-field-body p a,
/*#block-views-headernews-block .content a,*/
.view-footer a,
#dsq-content a,
.front .content a,
.not-front .content a,
.view-mediateka a {
	color: #D25D5E;
/*	text-decoration: underline; */
    text-decoration: none;
}

/* a:hover, 
.front .content a,
.not-front .content a {
	color: #D43E44;
}*/

a:hover,
/*#block-system-main a:hover, */
#block-block-7 a:hover,
.views-field-body p a:hover,
/*#block-views-headernews-block .content a:hover,*/
.view-footer a:hover,
#dsq-content a:hover,
.view-mediateka a:hover,
.front .content a:hover,
.not-front .content a:hover  {
  text-decoration: underline;
}

a:visited,
/*#block-system-main a:visited,*/
#block-block-7 a:visited,
.views-field-body p a:visited,
/*#block-views-headernews-block .content a:visited,*/
.view-footer a:visited,
#dsq-content a:visited,
.view-mediateka a:visited,
.front .content a:visited,
.not-front .content a:visited {
  color: #D25D5E;
}

.field-name-field-open-tag .field-item a,
.field-name-field-open-tag .field-item span {
  margin-right: 5px;
}


/*Footer region*/

#zone-footer,
.not-front #zone-footer-wrapper {
  width: 100%;
}
.not-front #zone-footer-wrapper {
  height: 120px;
}

.not-front #zone-footer {
  width: 960px;
  margin: 0 auto;
}

#region-footer-first,
.not-front #zone-postscript-wrapper,
.front #region-preface-first {
  margin: 0 auto 0;
  width: 100%;
  padding: 25px 0 0 0;
  background: #848589;
  
}
.front .zone-postscript-wrapper {
  margin: 0 auto 0;
  width: 100%;
}

#region-footer-first .region-footer-first-inner,
#region-footer-second .region-footer-second-inner,
#region-preface-first .region-preface-first-inner {
  width: 960px;
  margin: 0 auto;
  float: none;
}
#region-footer-second {
  margin: 0 auto;
  width: 100%;
}

#region-footer-second .region-footer-second-inner {
  height: 100px;
}

#block-menu-menu-hor-bottom-menu .menu a {
  font-size: 16px;
  color: #848589;
  text-transform: lowercase;  
}
#block-menu-menu-hor-bottom-menu .menu li {
  padding: 10px 0 0 15px;
}

#block-menu-menu-hor-bottom-menu .menu {
  margin: 0px 0 0 25px; 	
}

#block-block-12 img {
  float: right;
  margin: 30px 0 0 0;  
}
#block-block-12 p {
  margin: 0;
}

/*@end footer*/


body {
 background: #fefdfa;
} 

/* Front page */


/*header line*/
#zone-branding { 
  border-top: 3px #C72C29 solid;
  padding: 0 3% 0;
}

#block-block-7 {
  padding: 10px 0;
  float: right;
}

#block-block-5 {
  float: right;
}

#block-block-5 p {
  margin: 0;
  padding: 0;
  float: right;
}

#zone-content {
  padding: 0 0 30px 0;
}

/*breadcrumb*/
#zone-content-wrapper .breadcrumb {
	color: #bcbcbc;
}

#zone-content-wrapper .breadcrumb a {
  color: #bcbcbc;
  text-decoration: none;
  font-size: 15px;
  text-transform: lowercase; 
}
#zone-content-wrapper .breadcrumb a:hover {
	color: #D43E44;
}

/*title*/
h1, h3 {
	color: #4d4948;
}

/* Language block */

.block-locale {
  float: right;
  margin: 30px 0 35px 0;
}

.block-locale .content ul li {
  display: inline;
  margin: 0 8px;
}

.block-locale .content ul li a,
.block-locale .content ul li .locale-untranslated {
  text-decoration: none;
  color: #383431;
  text-transform: lowercase;
}

.block-locale .content ul li a.active {
  color: #c72c29;
}

/* @end language block */

/* Nice menu */

#block-nice-menus-1,
#block-nice-menus-2,
#block-nice-menus-3 {
  float: right;
  margin: 120px 0 10px 0;
}

#block-nice-menus-1 li,
#block-nice-menus-2 li,
#block-nice-menus-3 li {
  border: none;
  background: none;
  padding: 5px 6px 0 6px;
}

#block-nice-menus-1 li a,
#block-nice-menus-2 li a, 
#block-nice-menus-3 li a {
  text-decoration: none;
  color: #605d5c;
  font-size: 13px;
  text-transform: lowercase; /* force text to lowercase */
}

#block-nice-menus-1 li a:hover,
#block-nice-menus-2 li a:hover, 
#block-nice-menus-3 li a:hover {
  color: #000000;
}

#block-nice-menus-1 li ul,
#block-nice-menus-2 li ul, 
#block-nice-menus-3 li ul {
  margin-top: 5px;
}


#block-nice-menus-1 li ul li,
#block-nice-menus-2 li ul li, 
#block-nice-menus-3 li ul li {
  background: #DFDCDF;
  width: 100px;
}

#block-nice-menus-1 li ul li a:hover,
#block-nice-menus-2 li ul li a:hover, 
#block-nice-menus-3 li ul li a:hover {
  color: #c72c29;
}
/* @end Nice menu */

/*agenda block*/

.agenda-block {
  position: relative;
  width: auto;
  margin: 0 -25px 0 -25px;
}
.not-front .agenda-block {
	margin: 0;
}

.block .agenda-block p {
	padding: 0px 10px 3px;
}

.block .agenda-block ol li {
	background: #dc6f6a;
}

#block-views-last-video-or-podcast-block .views-field-colorbox {
  position: relative;
  width: 100%;
  margin: 0 -25px;
}
/*share block*/
.sharethis-buttons {
	margin: 30px 0 0 0;
	clear: left;
}

.node-afishi .sharethis-buttons {
  	margin: 50px 0 0 0;
	clear: left;
}

.page-frontpage #region-content .content,
.page-frontpage #region-sidebar-second .content,
.page-frontpage #block-agenda-1 .content, 
.page-frontpage #block-views-last-video-or-podcast-block .content,
.page-frontpage .block-poll .poll,
#block-agenda-1 .content,
#block-block-1 .content,
#block-views-twitter-list-block .content,
#block-simplenews-1 .content {
  background-color: #f3f4f5;
  padding: 25px;
}
.page-frontpage #block-views-last-video-or-podcast-block .content {
	padding-bottom: 0px;
	margin: 0 0 30px 0;
}

.view-afishi .views-field-title {
	padding: 0 0 15px 0;
}

.view-afishi .views-field-title a,
.view-afishi .views-field-title a:hover,
.view-afishi .views-field-title a:visited,
.poll .title,
.view-last-video-or-podcast .views-field-title a,
.view-last-video-or-podcast .views-field-title a:hover,
.view-last-video-or-podcast .views-field-title a:visited,
.block-views-headernews-block .views-field-title a,
.block-views-headernews-block .views-field-title a:hover,
.block-views-headernews-block .views-field-title a:visited {
	font-size: 16px;
	font-weight: bold;
	color: #444243;
	line-height: 22px;
	text-decoration: none;
}

#block-views-headernews-block-1 .views-field-title a {
	font-size: 14px;
	color: #444243;
	line-height: 22px;
	text-decoration: none;	
}
#block-views-headernews-english-block-1 .view-footer a,
#block-views-headernews-block-1 .view-footer a {
	float: right;
  color: #D43E44;
  text-decoration: underline;
}
#block-views-headernews-english-block-1 .view-footer a:hover,
#block-views-headernews-block-1 .view-footer a:hover {
  color: #000;
  
}

#block-views-headernews-block-1 .content {
	padding-top: 0;
}

#block-views-headernews-block-1 .content {
	padding-bottom: 0;
}


.page-frontpage .block-poll-recent {
	padding: 0 0 30px 0;	
}

#block-views-twitter-list-block .content {
  padding: 10px;
}
.not-front #block-views-twitter-list-block .content {
	padding: 25px;	
}
.not-front #block-views-twitter-list-block .block-title {
	color: #C72C29;  
  text-transform: lowercase;
  font-size: 18px;
  margin: 0;
  background: none;  
}

.navigation {
  display: none;
}

/* Afisha na glavnoj */

/*#views_slideshow_cycle_main_afishi-block_1 .views-field-field-image img {
  float:left;
  margin: 0 10px 10px 0;
} */

.views-slideshow-cycle-main-frame-row .views-field-field-image img {
  float:left;
  margin: 0 10px 10px 0;
}

.views-slideshow-cycle-main-frame-row .field-content {
  margin: 5px 0 0 210px;
  width: 250px;
}

#views_slideshow_controls_text_afishi-block_1 {
  display: none;
}

/* @end afisha na glavnoj */

/* Novosti na glavnoj*/
.block-views-headernews-block .views-field-field-image-news img {
  float:left;
  margin: 0 10px 10px 0;
}

/* @end novosti na glavnoj*/

/* Poll */

#block-poll-recent .links {
  display: none;
}

/* @end Poll */

/* Social networks */
.front #block-views-twitter-list-block {
  width: 250px;
  height: 350px;
  margin: 0 25px;
  float: left;  
}
.not-front #block-views-twitter-list-block {
   height: auto;
 }

#block-views-twitter-list-block .block-inner {
  background: #e9eaec;
}
.not-front #block-views-twitter-list-block .block-inner {
	background: none;
}

#block-views-twitter-list-block .block-title {
  color: #383431;
  font-size: 15px;
  margin-left: 10px;
  font-weight: normal;
}

#block-views-twitter-list-block .views-field-text {
  font-size: 12px;
}

#block-views-twitter-list-block .views-field-profile-image-url img {
  width: 50px;
  height: 50px;
  float: left;
  padding-right: 5px;
}

#block-views-twitter-list-block .views-field-screen-name span {
  font-size: 13px;
  font-weight: bold;
  margin-left: 5px;
  float: left;  
}

#block-views-twitter-list-block .views-field-created-time span {
  margin-left: 5px;
  font-size: 11px;
}

#block-views-twitter-list-block .views-field-text span {
}

#block-views-twitter-list-block .views-row-odd,
#block-views-twitter-list-block .views-row-even {
  margin-bottom: 5px;
  float: left;
}

#block-views-headernews-block .content {
	padding: 0;	
}

#block-views-headernews-block .content .field-content {
	margin: 5px 0;
}

#block-block-3 {
  float: left;
  width: 250px;
  margin: 0 25px;
}

#block-block-3 #vk_groups #vkwidget1 .community_head {
  background: red !important;
}

#block-block-4 {
  float: left;
  width: 250px;
  background: #F3F4F5;
  margin: 0 25px 0 40px;
}
#block-block-4 p {
	margin: 0;
	padding: 0;
	line-height: 0;
}

.fbConnectWidgetHeaderTitleBranded {
  background: #c2c1c1;

}

.region-sidebar-second-inner #block-views-twitter-list-block {
  width: 300px;
  margin: 0;
}
.region-sidebar-second .block {
	margin: 0 0 30px 0;
}
/* @end social networks */


.i18n-be #block-block-10 img,
.i18n-en #block-block-10 img {
	margin-bottom: 15px;
}
#block-menu-menu-hor-bottom-menu ul li {
  list-style: none;
  display: inline;
  float: right;
}

#block-menu-menu-hor-bottom-menu ul li a {
  text-decoration: none;
}
#block-menu-menu-hor-bottom-menu ul li a:hover {
  text-decoration: none;
  color: #000;
}

/* @end Footer*/



/* @end Front page */


/* Tablica baza znanij */

#block-views-mediateka-block-2 h2.block-title {
  color: #4d4948;
}

.views-table .views-field-title {
  width: 450px;
}

.views-table .views-field-field-author {
  width: 250px;
}

.views-table .views-field-name {
  width: 150px;
}

.views-table .views-field-field-fivestar {
  width: 200px;
}

.views-table th.views-field-title a,
.views-table th.views-field-field-author a,
.views-table th.views-field-name a,
.views-table th.views-field-field-fivestar a {
  color: #4d4948;
}

.views-table td.views-field-name a {
  color: #4d4948;
}


/* @end Tablica baza znanij */

/*section interval*/
/*#zone-postscript-wrapper {
  padding: 70px 0;
}*/

/*Not front page*/
/*.not-front #section-content .block {
   padding: 0 0 30px 0;
}*/
.not-front  #section-content #block-views-twitter-list-block {
  height: auto;
  padding: 0 0 0px 0;
}
.not-front  #section-content #block-simplenews-1 {
	padding: 30px 0 30px 0;
}

.not-front #section-content #block-block-12 {
   padding: 0 0 15px 0;
}
 
.field-name-field-open-tag {
  margin: 15px 0 0 0;
}
 
.field-name-field-open-tag .field-item {
   float: left;
   display: inline; 
 }

.field-name-field-open-tag .field-label {
  float:left;
}

/* .field-name-field-f-voc .field-item {
  margin-top: 35px;
} */

.date-display-single {
   color: #c2c2c2;
   font-size: 12px;
 }

/*bottom inner menu*/
#block-menu-menu-hot-pages .menu {
  float: right;
  list-style: none;
  margin: 20px 0 0 0;
}

#block-menu-menu-hot-pages .menu li {
  display: inline;
  float: left;
}
#block-menu-menu-hot-pages .menu li a {
  color: #888888;
  font-size: 16px;
  text-decoration: none;
  text-transform: lowercase;
}
#block-menu-menu-hot-pages .menu li a:hover {
  color: #000;
}

/* Gallery styles */

.view-gallery .views-row{
  width:100%;
  clear: left;
  height: 270px;
}

.view-gallery .views-row .views-field-title a {
  text-decoration: none !important;
  font-size: 16px !important; 
  font-weight: bold;
  color: #444243 !important;
}

.view-gallery .views-row .views-field-field-date {
  color: #72706F;
}

.view-gallery .views-row .views-label-field-related-node {
  padding-right: 5px;
  float: left;
}

.view-gallery .views-row .views-label-field-related-node a { 
  width: 100%;
}

.view-gallery .views-row .views-field-field-image {
  float: left;
  padding-right: 10px;
  margin-bottom: 15px;
}

.view-gallery .views-row .views-field-field-image img {
  clear: left;
}

.view-gallery .views-row .views-field-body {
}

.view-gallery .views-row .views-field-field-open-tag {
  clear: left;
}

.view-gallery .views-row .views-label-field-open-tag {
  padding-right: 5px;
  margin-top: -50px;
  margin-left: 190px;
  float: left;
}

.view-gallery .views-field-field-open-tag .field-content {
  float: left;
  margin-top: -50px;
  margin-left: 235px;
}

.view-gallery .views-row .views-field-view-node  {
   margin-bottom: 10px;
   margin-top: -30px;
   margin-left: 190px;
}

/* gallery */

.node-gallery .field-name-field-image .field-items img {
  float: left;
  margin: 0 10px 10px 0;
}

.node-gallery .field-name-field-open-tag .field-label {
  float: left;
  clear: left;
  padding-right: 5px;
}

.node-gallery .field-name-field-open-tag .field-item span {
  margin-right: 5px;

}


/* @end gallery */

/* @end gallery styles */

/*falanster calendar*/
.view-gcalendar table {
	border: none;
}

#block-views-gcalendar-block h2 {
	padding: 0 0 10px 0; 
}
.fc-event-default, .fc-event-default .fc-event-skin, .fc-event-default .fc-event-time, .fc-event-default a,
.fc-event-inner {
	background-color: #DC6F6A;
  border-color: #DC6F6A;
}

/*mediateka*/
.view-mediateka .view-content {
	padding: 15px 0;
}

.view-mediateka .view-header {
	float: right;	
	width: 100%;
}
.view-mediateka .view-header a {	
	/*color: #BCBCBC;*/
	color: #b2382d;
}
.add_content {
	float: right;
}

.view-display-id-attachment_2 .view-header {
	padding: 0 0 20px 0;
}

#block-system-main .view-mediateka .views-summary a {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #BCBCBC;
}

#block-system-main .view-mediateka .view-content a,
#block-system-main .view-mediateka .view-content a.active  {
/*	color: #000; */
  color: #D25D5E;
  font-size: 100%;
  font-weight: normal;
}

tr.odd td {
	background: #F3F4F5;
}

/*english home page*/
.i18n-en .view-last-video-or-podcast .views-field-colorbox {
	position: relative;
	margin: 0 0 -25px -25px;
	float: left;
	background: red;
}
.i18n-en .view-last-video-or-podcast .views-field-title,
.view-last-video-or-podcast .views-field-title {
	margin: 0 0 15px 0;
}

.i18n-en #block-views-headernews-english-block .views-field-title a {
	color: #444243;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  text-decoration: none;
}
.i18n-en #block-views-headernews-english-block .views-field-title a:hover {
	text-decoration: underline;
}


.i18n-en .view-headernews-english .views-field-title a {
  color: #444243;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
}
.i18n-en .view-headernews-english .views-field-title a:hover {
  text-decoration: underline;
}

.i18n-en #block-views-headernews-english-block .content,
.i18n-en #block-views-headernews-english-block-1 {
  background-color: #f3f4f5;
  padding: 25px 25px 0 25px;
}
.i18n-en #block-views-headernews-english-block-1 {
	padding-bottom: 25px;
}
.i18n-en #block-views-last-video-or-podcast-block-1 {
  padding: 0 0 30px 0;
}

.i18n-en #block-views-headernews-english-block-1 {
	margin: 0 0 25px 0;
}


/*.i18n-en*/


/*discus style*/

/*image for news and announce */
#region-sidebar-second
#

