/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */


/**/
.caption {
}

#region-footer-first {
  display: block;
  padding: 25px 0;
}

#region-footer-first {
  display: block;
  padding-top: 25px;
}

#zone-postscript {
    padding-bottom: 30px;
}

#zone-content {
 padding-bottom: 30px;
}

#region-logo {
 margin-bottom: -4px;
}


#zone-header-first {
    padding-top: 40px;
    border-bottom: 5px solid #e90606;
}

#zone-header-second {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 25px;
    background: none;
}

/* HEADER */

/* Site Logo */

#block-block-11 {
  margin: 60px 0 0px 0;
}

/* Slogan */

#block-views-slogan-block {
  margin: 72px 0 -12px 0;
}

/* Language selector block */

.block-locale {
    float: right;
    margin-bottom: 0;
}

.block-locale .content ul li {
    margin-right: 0;
    margin-left: 15px;
}

/*region slogan styles*/
#region-slogan {
  position: relative;
  width: 400px;
  margin-right: -100px;
}


/* User logged in block*/

#block-block-7 {
    margin-top: 60px;
    margin-bottom: 0px;
}

/* First main menu block */

#block-menu-menu-first-menu .content ul li {
    font-size: 15px;
    float: left;
    margin: 5px 15px 0 0;
    padding: 0;
    color: #c72c29;
}

#block-menu-menu-first-menu .content ul li a {
    color: #c72c29;
}


/* Second main menu block */

#block-menu-menu-second-menu {

}

#block-menu-menu-second-menu .content ul {

}

#block-menu-menu-second-menu .content ul li {
    font-size: 15px;
    float: right;
    margin: 5px 0 0 15px;
    padding: 0;
    color: #444243;
}

#block-menu-menu-second-menu .content ul li a {
    color: #444243;
}

/* CONTENT */

#page-title {
    max-width: 500px;
}

/* Rate block on node pages */

.node .rate-widget {
    position: absolute;
    top: 10px;
    right: 0;
}

/* News block */

.headernews-block {
    padding: 25px;
    overflow: auto;
}

/* Related news block */

.related-news-block {
    padding: 0 25px 25px 25px;
}

/*Afisha Blocks*/

#block-views-afishi-block-2 {
  display: none;
}

#block-views-afishi-block-1 {
  display: block;
}

.afishi-block {
    padding: 25px;
}

/* Google calendar block */

.block-agenda-1 .content {
    padding-top: 25px;
}

/* Last video or podcast block */

.last-video-or-podcast-block {
    padding: 25px 0 0 0;
}

.view-last-video-or-podcast .views-field-title {
    padding: 0 25px;
}

#block-poll-recent .poll { 
    padding: 25px;
}

/* FOOTER */

/* Facebook block */

#block-block-4 {
  float: left;
  background: #F3F4F5;
}

#block-block-4 p {
  margin: 0;
  padding: 0;
  line-height: 0;
}

/* Block "Falanster Needed" */

#block-block-23 {
  float: left;
  width: 300px;
  background: #F3F4F5;
  margin-left: 20px;
}

#block-block-23 .content{
  margin-left: 20px;
  margin-top: 20px;
}

#block-block-23 .content img {
  margin-right: 5px;
  margin-bottom: 4px;
}

/* Block Vkontakte */

#block-block-3 {
  float: left;
  width: 290px;
  margin-left: 20px;
}

#block-block-3 #vk_groups #vkwidget1 .community_head {
  background: red;
}

/* Falanster logo block */

.block-block-10 .content {
    float: right;
}

.not-front .block-block-10 .content {
    margin-top: 80px;
}

/* Block with social services */

#block-block-5 {
  margin-top: 0;
  margin-left: 240px;
}

/* Bottom horizontal menu*/

#block-menu-menu-hor-bottom-menu {
    float: right;
} 

#block-menu-menu-hot-pages {
    float: right;
}
