/* This file contains styles for gallery pages and nodes */

.view-gallery .views-row {
  width:100%;
  clear: left;
  height: 270px;
}

.view-gallery .views-row .views-field-title a {
  text-decoration: none !important;
  font-size: 16px !important; 
  font-weight: bold;
  color: #444243 !important;
}

.view-gallery .views-row .views-field-field-date {
  color: #72706F;
}

.view-gallery .views-row .views-label-field-related-node {
  padding-right: 5px;
  float: left;
}

.view-gallery .views-row .views-label-field-related-node a { 
  width: 100%;
}

.view-gallery .views-row .views-field-field-image {
  float: left;
  padding-right: 10px;
  margin-bottom: 15px;
}

.view-gallery .views-row .views-field-field-image img {
  clear: left;
}

.view-gallery .views-row .views-field-field-open-tag {
  clear: left;
}

.view-gallery .views-row .views-label-field-open-tag {
  padding-right: 5px;
  margin-top: -50px;
  margin-left: 190px;
  float: left;
}

.view-gallery .views-field-field-open-tag .field-content {
  float: left;
  margin-top: -50px;
  margin-left: 235px;
}

.view-gallery .views-row .views-field-view-node  {
   margin-bottom: 10px;
   margin-top: -30px;
   margin-left: 190px;
}

.node-gallery .field-name-field-image .field-items img {
  float: left;
  margin: 0 10px 10px 0;
}

.node-gallery .field-name-field-open-tag .field-label {
  float: left;
  clear: left;
  padding-right: 5px;
}

.node-gallery .field-name-field-open-tag .field-item span  {
  margin-right: 5px;
}
