/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* COMMON STYLES */

body {
    background-color: #fefdfa;
    font: 13px/1.5 Verdana, Helvetica, Arial, sans-serif;
} 

a {
	color: #D25D5E;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #D25D5E;
}

/* Font settings */

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: arial, sans-serif;
    margin-bottom: 20px;
}

h1, h3 {
    color: #4d4948;
}

p, div, body {
    font-family: arial, sans-serif;
}

p {
    margin-bottom: 20px;
}

/* Common block styles*/

h2.block-title {
  color: #c72c29;
  text-transform: lowercase;
  font-size: 18px;
  margin: 0;
}

h2.block-title a {
	color: #c72c29;
	text-decoration: none;
}

/* Common position styles */

#zone-branding { 
    border-top: 3px #C72C29 solid;
    padding: 0 10px 0 10px;
}

#zone-content {
    padding-bottom: 25px;
}

#zone-footer-wrapper {
    background-color: #848589;
}

#region-footer-first {
	display: none;
}

#zone-preface {
    padding: 10px 0;
}

/* HEADER */


/*Site logo*/

#block-block-11 {
  margin: 10px 0 10px 0;
}

#block-block-11 p {
  margin: 0;  
}


/* Language selector block */

.block-locale {
    float: right;
    margin: 30px 0 5px 0;
}

.block-locale .content ul li {
    display: inline;
    margin: 0 8px;
}

.block-locale .content ul li a,
.block-locale .content ul li .locale-untranslated {
    text-decoration: none;
    color: #383431;
    text-transform: lowercase;
}

.block-locale .content ul li a.active {
    color: #c72c29;
}

/* User logged in block*/

#block-block-7 {
    padding: 10px 0;
    float: right;
}

#block-block-7 a {
	color: #D25D5E;
    text-decoration: none;
}

#block-block-7 a:hover {
    text-decoration: underline;
}

#block-block-7 a:visited {
    color: #D25D5E;
}

/* Block with social services */

#block-block-5 {
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* CONTENT */

/* Breadcrumbs styles */

#breadcrumb {
	color: #bcbcbc;
}

#breadcrumb a {
    color: #bcbcbc;
    text-decoration: none;
    font-size: 15px;
    text-transform: lowercase; 
}

#breadcrumb a:hover {
	color: #D43E44;
}

/* FOOTER */

/*Falanster logo footer block*/

#block-block-10 img {
  float: right;
}

#block-block-10 p {
  margin: 0;
}

.i18n-be #block-block-10 img,
.i18n-en #block-block-10 img {
	margin-bottom: 15px;
}

#footer_logo_by img {
	width: 320px;
	height: 79px;
}

#footer_logo_ru img {
	width: 320px;
	height: 86px;
}

#footer_logo_en img {
	width: 320px;
	height: 72px;
}

/* Creative Commons block */

#block-block-14 {
  float: left;
}


/* Bottom horizontal menu*/

#block-menu-menu-hor-bottom-menu {
    float: right;
} 

#block-menu-menu-hor-bottom-menu .menu a {
    font-size: 16px;
    color: #848589;
    text-transform: lowercase;  
}

#block-menu-menu-hor-bottom-menu ul li {
    list-style: none;
    display: inline;
    float: right;
}

#block-menu-menu-hor-bottom-menu ul li a {
    text-decoration: none;
}

#block-menu-menu-hor-bottom-menu ul li a:hover {
    text-decoration: none;
    color: #000;
}

/* Custom styles for tweaking content on all pages */

.grey-title,
a.grey title,
.grey-title a {
    font-size: 16px;
    font-weight: bold;
    color: #444243;
    text-decoration: none;
}

.grey-background {
    background-color: #f3f4f5;
}

a.black-link,
.black-link a {
    color: #444243;
}

.small-text {
    font-size: 12px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.flush-left {
    float: left;
}

.flush-right {
    float: left;
}

/* END OF PROCESSED PART */






/*header line*/

/* .views-field-body p a, */
/* .view-footer a, */
/* #dsq-content a { */
/* 	color: #D25D5E; */
/*     text-decoration: none; */
/* } */

/* .views-field-body p a:hover, */
/* .view-footer a:hover, */
/* #dsq-content a:hover { */
/*   text-decoration: underline; */
/* } */

/* .views-field-body p a:visited, */
/* .view-footer a:visited, */
/* #dsq-content a:visited { */
/*   color: #D25D5E; */
/* } */


/* #zone-content .view-news-list .views-field-title a, */
/* #zone-content .view-headernews-english .views-field-title a, */
/* #zone-content .view-projects .views-field-title a, */
/* #zone-content .view-clubs .views-field-title a { */
/*   color: #444243; */
/*   font-size: 16px; */
/*   font-weight: bold; */
/*   text-decoration: none; */
/*   line-height: 20px; */
/* } */

/* #zone-content .view-news-list .views-field-title, */
/* #zone-content .view-headernews-english .views-field-title { */
/*   margin: 30px 0 7px 0; */
/* } */

/* #zone-content .view-news-list .item-list { */
/*   padding: 40px 0 10px 0; */
/*   float: left; */
/*   width: 100%; */
/* } */

/* #zone-content .view-projects .views-field-title, */
/* #zone-content .view-clubs .views-field-title { */
/*   margin: 30px 0 10px 0; */
/* } */

/* #zone-content .view-news-list .field-content img { */
/*   margin: 0 15px 0 0; */
/* } */

/* #zone-content .view-news-list .views-row { */
/*   float: left; */
/*   width: 100%; */
/*   padding: 0 0 10px 0; */
/* } */

/* #zone-content .view-headernews .view-header, */
/* .view-headernews-english .view-header { */
/*   margin-bottom: 10px; */
/* } */

/* #zone-content .view-headernews .views-row, */
/* .view-headernews-english .views-row { */
/*   float: left; */
/*   width: 100%; */
/*   padding: 0; */
/* } */

/* /\*read more link*\/ */
/* .view-projects .node-links ul li a, .view-projects .comment-links ul li a { */
/*   border: none; */
/*   background: none; */
/*   font-weight: normal; */
/*   margin: 0; */
/*   padding: 0; */
/*   text-shadow: none; */
/* } */

/* .field-name-field-open-tag .field-item a, */
/* .field-name-field-open-tag .field-item span { */
/*   margin-right: 5px; */
/* } */

/* .node p { */
/* clear: both; */
/* } */

/* .field-item div { */
/* 	clear: both; */
/* } */

/* /\*@end common styles*\/ */

/* /\*@end site logo*\/ */

/* /\*Footer region*\/ */


/* #block-block-12 img { */
/*   float: right; */
/* } */

/* #block-block-12 p { */
/*   margin: 0; */
/* } */


/* .not-front  #section-content #block-views-twitter-list-block { */
/*   height: auto; */
/*   padding: 0 0 0px 0; */
/* } */

/* .not-front  #section-content #block-simplenews-1 { */
/* 	padding: 30px 0 30px 0; */
/* } */

/* .not-front #section-content #block-block-12 { */
/*    padding: 0 0 15px 0; */
/* } */
 
/* .not-front #page .field-name-field-open-tag { */
/*   margin: 10px 0 0 0; */
/*   clear: left; */
/*   width: 100%; */
/* } */

/* .not-front #page .field-name-field-open-tag .field-items .field-item { */
/*   float: left; */
/*   padding: 0 10px 0 0; */
/*   clear: right; */
/* } */
 
/* .not-front #page .field-name-field-open-tag .field-item { */
/*    float: left; */
/*    display: inline;  */
/*  } */

/* .not-front #page .field-name-field-open-tag .field-label { */
/*   float: left; */
/*   clear: right; */
/* } */

/* /\* .field-name-field-f-voc .field-item { */
/*   margin-top: 35px; */
/* } *\/ */

/* .date-display-single { */
/*    color: #c2c2c2; */
/*    font-size: 12px; */
/*  } */

/* /\*bottom inner menu*\/ */
/* #block-menu-menu-hot-pages .menu { */
/*   float: right; */
/*   list-style: none; */
/*   margin: 20px 0 0 0; */
/* } */

/* #block-menu-menu-hot-pages .menu li { */
/*   display: inline; */
/*   float: left; */
/* } */

/* #block-menu-menu-hot-pages .menu li a { */
/*   color: #888888; */
/*   font-size: 16px; */
/*   text-decoration: none; */
/*   text-transform: lowercase; */
/* } */

/* #block-menu-menu-hot-pages .menu li a:hover { */
/*   color: #000; */
/* } */

/* .field-name-field-related-node { */
/*   clear: left; */
/*   margin: 10px 0 0; */
/*   width: 100%; */
/* } */

/* .field-name-field-related-node .field-item { */
/*   margin-right: 10px; */
/* } */

/* /\*falanster calendar*\/ */

/* .view-gcalendar table { */
/* 	border: none; */
/* } */

/* #block-views-gcalendar-block h2 { */
/* 	padding: 30px 0 10px 0;  */
/* } */
/* .fc-event-default, */
/* .fc-event-default .fc-event-skin, */
/* .fc-event-default .fc-event-time, */
/* .fc-event-default a, */
/* .fc-event-inner { */
/* 	background-color: #DC6F6A; */
/*   border-color: #DC6F6A; */
/* } */

/* .view-display-id-attachment_2 .view-header { */
/* 	padding: 0 0 20px 0; */
/* } */


/* tr.odd td { */
/* 	background: #F3F4F5; */
/* } */


/* /\*region content onth inner page*\/ */
/* #region-content article { */
/*   padding: 0 0 30px 0; */
/* } */

/* div.feed-icon { */
/*   text-align: right; */
/* } */

/* #region-content .field-name-field-image { */
/*   margin: 5px 0px; */
/* } */

/* blockquote { */
/*   width: 500px; */
/*   margin: -10px 0 0 10px; */
/* } */

/* .view-projects h2.node-title a, */
/* .view-projects h2.node-title a:hover, */
/* .view-projects h2.node-title a:visited, */
/* .view-clubs h2.node-title a, */
/* .view-clubs h2.node-title a:hover, */
/* .view-clubs h2.node-title a:visited { */
/*   color: #383431; */
/*   text-decoration: none; */
/* } */

/* /\*agenda block*\/ */

/* .not-front .agenda-block { */
/* 	margin: 0; */
/* } */

/* .block .agenda-block p { */
/* 	padding: 0px 10px 3px; */
/* } */

/* .block .agenda-block ol li { */
/* 	background: #dc6f6a; */
/* } */

/* #block-views-last-video-or-podcast-block .views-field-colorbox { */
/*     width: 100%; */
/* } */

/* /\*share block*\/ */
/* .sharethis-buttons { */
/*     margin: 10px 0 0 0; */
/*     float: left; */
/*     clear: right; */
/* } */
/* .node-afishi .sharethis-buttons { */
/*     margin: 50px 0 0 0; */
/*     clear: left; */
/* } */
/* .sharethis-wrapper { */
/*     margin: 15px 0;  */
/* } */

/* #block-agenda-1 .content, */
/* #block-block-1 .content, */
/* #block-views-twitter-list-block .content, */
/* #block-simplenews-1 .content { */
/*     background-color: #f3f4f5; */
/*     padding: 10px; */
/* } */

/* #block-agenda-1{ */
/* 	position: relative; */
/* } */


/* #block-views-twitter-list-block .content { */
/*     padding: 10px 15px; */
/* } */

/* .not-front #block-views-twitter-list-block .block-title { */
/* 	color: #C72C29;   */
/*     text-transform: lowercase; */
/*     font-size: 18px; */
/*     background: none;   */
/* } */


/* /\*Social Footer*\/ */


/* /\*bottom banner block*\/ */

/* #views_slideshow_cycle_main_banner-block { */
/* 	display: none; */
/* } */
/* /\* @end Footer*\/ */

/* /\*Bottom Banner*\/ */

/* #views_slideshow_cycle_main_banner-block { */
/* 	display: none; */
/* } */

/* /\* @end Front page *\/ */

/* /\* not-front *\/ */

/* .not-front #zone-postscript-wrapper { */
/*   margin: 0 auto 0; */
/*   width: 100%; */
/*   padding: 25px 0 0 0; */
/*   background-color: #848589;  */
/* } */
/* .not-front #zone-footer-wrapper { */
/*   width: 100%; */
/*   height: 120px; */
/* } */

/* .not-front .content a { */
/* 	color: #D25D5E; */
/*     text-decoration: none; */
/* } */

/* .not-front .content a:hover  { */
/*   text-decoration: underline; */
/* } */

/* .not-front .content a:visited { */
/*     color: #D25D5E; */
/* } */

/* UNNECESSARY STYLES */

/* Nice menu */

/* DISABLE NORMAL MAIN MENU FOR MOBILE DEVICES */

#block-nice-menus-1,
#block-nice-menus-2,
#block-nice-menus-3 {
	display: none;
}

/* ENABLE MOBILE MENU */

#block-menu-menu-mobile-menu {
	display: block;
	padding: 0px 20px;
}


/*END MENU PART*/


/* #block-block-18{ */
/* 	position: absolute; */
/* } */

/* #block-block-18 .content{ */
/* 	margin-top: -60px; */
/* 	margin-left: 235px; */
/* } */
