/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* COMMON STYLES */

body {
    margin: 0;
    color: #444243;
    background-color: #fefdfa;
    font: 13px/1.5 Verdana, Helvetica, Arial, sans-serif;
} 

a,
a:link,
a:visited {
	color: #c72c29;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol {
    display: block;
    list-style-type: decimal;
    margin: 1em 0;
    padding-left: 40px;
}

blockquote {
    display: block;
    margin: 1em 40px;
}

/* Font settings */

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: arial, sans-serif;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    color: #4d4948;
    line-height: 1.2em;
}

h2 {
    font-size: 26px;
}

h3 {
    color: #4d4948;
}

p, div, body {
    font-family: arial, sans-serif;
    font-weight: normal;
}

p {
    margin-bottom: 20px;
}

/* COMMON BLOCK STYLES*/

h2.block-title {
  color: #c72c29;
  text-transform: lowercase;
  font-size: 18px;
  margin: 0;
}

h2.block-title a {
	color: #c72c29;
	text-decoration: none;
}

/* COMMON POSITION STYLES */

#zone-branding { 
    border-top: 3px #C72C29 solid;
    padding: 0 10px 0 10px;
}

#zone-header-second {
    padding: 5px 0;
    margin-bottom: 25px;
    background-color: #F3F4F5;
}

#zone-footer-wrapper {
    background-color: #848589;
}

#region-footer-first {
	display: none;
}

#region-footer-second {
    padding-top: 25px;
}

#zone-preface {
    padding: 10px 0;
}

#zone-content {
    padding-bottom: 10px;
}

/* HEADER */

/* Site logo block */

#block-block-11 {
  margin: 10px 0 10px 0;
}

#block-block-11 p {
  margin: 0;  
}

/* Slogan */

#block-views-slogan-block {
  margin-bottom: 10px;
}

#block-views-slogan-block .content {
    font-size: 30px;
    color: #c72c29;
}

/* Language selector block */

.block-locale {
    float: left;
    margin-bottom: 25px;
}

.block-locale .content ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
}

.block-locale .content ul li {
    display: inline;
    margin-right: 15px;
}

.block-locale .content ul li a,
.block-locale .content ul li .locale-untranslated {
    text-transform: lowercase;
}

.block-locale .content ul li a.active {
    color: #e90606;
}

/* User logged in block*/

#block-block-7 {
    float: right;
    margin-bottom: 25px;
}

#block-block-7 input {
    float: right;
}

/* First main menu block */

#block-menu-menu-first-menu .content ul li {
    list-style-type: none;
    list-style-image: none;
    font-size: 15px;
}

/* Second main menu block */

#block-menu-menu-second-menu .content ul li {
    list-style-type: none;
    list-style-image: none;
    font-size: 15px;
}

/* CONTENT */

/* Breadcrumbs styles */

#breadcrumb {
	color: #bcbcbc;
}

#breadcrumb a {
    color: #bcbcbc;
    text-decoration: none;
    font-size: 15px;
    text-transform: lowercase; 
}

#breadcrumb a:hover {
	color: #D43E44;
}

/* Rate block */

.rate-widget {
    overflow: auto;
}

.rate-number-up-down-btn-up {
    background: url('../images/like_plus.png');
    width: 36px;
    height: 29px;
}

.rate-number-up-down-btn-down {
    background: url('../images/dislike_minus.png');
    width: 37px;
    height: 30px;
}

.rate-number-up-down-rating{
    margin-top: 4px;
    font-size: 18px;
}

.rate-info {
    display: none;
}

/* Agenda block */

#block-agenda-1 {
    margin-bottom: 0 !important;
}

/* Caption styles */

article .caption {
    display: block;
}

article .caption p {
    color: #b41f1f;
    font-size: 12px;
    font-style: italic;
    margin: 0 1em 20px 1em;
}

/* FOOTER */

/* Creative Commons block */

#block-block-14 {
  float: left;
  margin-right: 5px;
}

#block-block-14 p {
    margin: 0;
    padding: 0;
}

/* Falanster logo block */

.block-block-10 .content p {
    margin: 0;
    padding: 0;
}

/* Block with social services */

#block-block-5 {
  float: left;
}

#block-block-5 p {
  margin: 0;
  padding: 0;
}

/* COMMON VIEWS STYLES */

/* Views pager styles */

.view .pager {
    margin: 10px 0 0 0;
}

.view .pager li {
    padding: 0;
    margin: 0 5px;
}

.view .pager li a {
    color: #4d4948;
}

.view .pager .pager-current {
    color: #D25D5E;
    font-size: 18px;
    font-weight: bold;
}

/* BUTTONS STYLES */

a.button{
  text-transform: lowercase;
  margin-top: 12px;
  margin-bottom: 10px;
  padding: 8px 16px;

  width: auto;
  color: #ffffff;
  cursor: pointer;
  width: auto;
  font-size: 24px;
  letter-spacing: 0.3px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}

a.green {
  background: #68dc6b;
}

a.blue {
  background: #68badc;
}

a.button:hover {
  opacity: 0.6;
	text-decoration: none;
}