/* На production @import шрифтов должн быть удален*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu');

.block .agenda-block { width: 360px;}
#block-agenda-1 h2{ color: #333333; font-family: 'Ubuntu', Arial, sans-serif; font-size: 60px !important; letter-spacing: 1px; text-shadow: 2px 2px 0 #d2ff1b; margin: 0;}
.block .agenda-block p { margin: 0; padding: 10px 20px; font-family: 'Ubuntu', sans-serif; font-size: 16px; color: #ffffff; height: 50px; box-sizing: border-box; background: #333333;}
.block .agenda-block ol { list-style-type: none; margin: 0; padding: 0; font-family:'PT Sans', sans-serif; font-size: 16px;  }
.block .agenda-block ol li { margin: 0px; padding: 0px;  background-image: none; border-bottom: 1px solid #d0d0d0;}
.block .agenda-block ol li .calendar_title {color: black; cursor: pointer; padding: 0px 20px;  margin: 0px 0px; min-height: 48px; display: flex; flex-direction: column; justify-content: center;}
.block .agenda-block .moreinfo {display: none; list-style-type: none; font-family:'PT Sans', sans-serif; padding: 10px 10px; margin: 0px; overflow: hidden; color: black; background: #ececec;}
.block .agenda-block .moreinfo p {display: block; color: black; padding: 10px; background: #ececec; height: 100%;}
.block .agenda-block .moreinfo em { font-style: normal; font-weight: bold; padding: 0px 10px}
.block .agenda-block .moreinfo a { color: black; display: block; padding-left: 10px;}
.block .agenda-block .moreinfo li { list-style-type: none; list-style-image: none; background-image: none; padding: 0; font-size: 100%;  border-bottom: 0px solid #d0d0d0; }
.block .agenda-block .moreinfo ul li {display: flex; flex-direction: column; justify-content: center;}
.block .agenda-block .moreinfo ul li { margin: 20px;}

.agenda-block .cal_0 { background-color: #fafafa; display: flex; flex-direction: column; justify-content: center;}
.agenda-block .cal_1 { background-color: #E0C240; }
.agenda-block .cal_2 { background-color: #668CD9; }
.agenda-block .cal_3 { background-color: #D96666; }
.agenda-block .cal_4 { background-color: #F2A640; }
.agenda-block .cal_5 { background-color: #B373B3; }
.agenda-block .cal_6 { background-color: #B3E64C; }
.agenda-block .cal_7 { background-color: #CC4CE6; }
.agenda-block .cal_8 { background-color: #A64CE6; }
.agenda-block .cal_9 { background-color: #E64C8C; }
.agenda-block .cal_10 { background-color: #4C66E6; }
.agenda-block .cal_11 { background-color: #B373B3; }

#agenda-debug-log { max-height: 500px; overflow: auto; border: 2px solid #666; margin-bottom: 2em; }
#agenda-debug-log ul { list-style: none; margin: 0; padding: 0; }
#agenda-debug-log ul li { margin: 0; padding: .5em; list-style: none; background-color: #ddd; }
#agenda-debug-log ul li:nth-child(odd) { background-color: white; }
#agenda-debug-log ul li pre { overflow: auto; }
#agenda-debug-table { max-width: 100%; max-height: 500px; border: 2px solid #666; overflow: auto; }
